@main( "About", user=null){

    <hr>
    <div class="col-sm-12">
        <h2>three guys who want you to enjoy the gym</h2>
        <address>
            <strong>I hope this review will help you understand what we want as a company…</strong>
            <br>John from Tallaght village
            <br>for the last 6 months I have been attending WEYGYM Tallaght. When I first wanted to join the gym I was very worried about it because I have never been that type of person I didn’t even know how to use much of the stuff that’s in a gym. I finally got the courage to walk through the door and was greeted with a smile from Yuri, Yuri is the general manager of all 3 WEYGYM’s and I couldn’t believe how approachable he was I was truly amazed such a nice guy. After speaking to him he then brought Wayne over and he signed me up. Wayne is the manager of the Tallaght branch. I started my gym experience the next day and that’s where I meet Eddy he is the personal trainer, for a guy of my level who had no clue what to do it didn’t take long for Eddy to train me up on the equipment. He was so understanding and fair I really can’t start to thank these guys for helping get on the road to where I want to be. Here’s to another 6 months.
            <br>Thanks guys.
        </address>

    </div>
    <hr>

}
