@main( "Boxing",  user=null){
  <div class="container-fluid text-center ">
    <h2>The WEY coaching staff</h2>

  <div class="col-sm-4">
    <div class="thumbnail">
      <img src=@routes.Assets.versioned("images/train1.jpg") alt="pool">

      <h2>Get Fitter With John Santana</h2>
      <p>An IABA  certified boxing coach, former boxer and a national champion in full contact kick-boxing</p>
    </div>

  </div>
  <div class="col-sm-4">
      <div class="thumbnail">
        <img src=@routes.Assets.versioned("images/trainer2.jpg") alt="pool">

          <h2>Meet Freddie Roach:</h2>
        <p>Internationally qualified personal trainer and conditioning coach with vast knowledge and experience</p>
        </div>

  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <img src=@routes.Assets.versioned("images/train3.jpg") alt="pool">

      <h2>Reach your goals with Richard Johnson</h2>
    </div>

  </div>
  </div>

}
