@main("Boxing", user = null) {
    <div class="container-fluid text-center ">
        <h2>The WEY coaching staff</h2>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src=@routes.Assets.versioned("images/train1.jpg") alt="pool">

                <h2>Get Fitter With John Santana</h2>
                <p>An IABA  certified boxing coach, former boxer and a national champion in full contact kick-boxing</p>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src=@routes.Assets.versioned("images/trainer2.jpg") alt="pool">

                <h2>Meet Freddie Roach:</h2>
                <p>Internationally qualified personal trainer and conditioning coach with vast knowledge and experience</p>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src=@routes.Assets.versioned("images/train3.jpg") alt="pool">

                <h2>Reach your goals with Richard Johnson</h2>
            </div>

        </div>

    </div>

    <div class="col-xs-12">

        <div class="col-sm-4">
            <h2>Classes, Courses & Private Training</h2>
            <address>
                At Underdog, we offer the perfect platform for a morning wakeup or a stress-relieving end of day workout.
                Within a session, members burn 100s of calories during an intensive challenging workout.
            </address>

        </div>

        <div class="col-sm-4">
            <h2>
                You can choose from the following classes:
            </h2>
            <address>

                HIIT Boxing
                Power Boxing
                Boxing Conditioning
                Metabolic Conditioning
                You can enroll in the following courses:
            </address>
        </div>

        <div class="col-sm-4">
            <h2>Levels</h2>


            <address>

                Beginner’s Boxing
                Improver’s Boxing
                Beginner’s Sparring
                Body Transformation
                14 Day Fat Furnace
                You can also book:

                Private Personal Training
                Private Boxing Coaching
            </address>
        </div>
    </div>

}
