@main("Classes", user = null) {

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->

    <div class="container-fluid text-center bg-grey">
        <h2>Welcome to WEYGYM: Book your Class now!</h2>
        <div class="col-lg-12 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/boxing1.jpg") alt="boxing">

                <div class="overlay">
                    <h2>WEY BOXING WORLD</h2>
                    <a class="info" href="@routes.Application.boxing()">Meet Our Coaches</a>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <hr>

        <div class="col-lg-12">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/pool1.jpg") alt="">

                <div class="overlay">
                    <h2>100 Meter swimming pool</h2>
                    <a class="info" href="@routes.Application.swimming()">Our Swimming experts</a>

                </div>
            </div>
        </div>
        <hr>

        <div class="col-lg-12">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/lifting1.jpg") alt="">

                <div class="overlay">
                    <h2>Get in shape this new year</h2>
                    <a class="info" href="@routes.Application.weights()">Our Team Professional trainers

                    </a>
                </div>
            </div>
        </div>

    </div>

}
