@main( "Gallery",  user=null){
    <div class="container-fluid text-center bg-grey">
        <h2>Welcome to WEYGYM: Book your Class now!</h2>
        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/gym-image1.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/locker-room.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>


        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/gymPool.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/dream.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>



        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/boxing-ring.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="hovereffect">
                @*<img class="img-responsive" src="http://placehold.it/350x250" alt="">*@
                <img class="img-responsive" src=@routes.Assets.versioned("images/free-weights3.jpg") alt="boxing bag">

                <div class="overlay">
                    <h2>Hover effect 5</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>





    </div>
<hr>
}
