@main("Home", user = null) {

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header>
        <div class="bannereffect">
            <div class="row">
                <div class="overlay">
                    <h2>this is your WEY to a healthier life</h2>
                    <a class="info" href="@routes.Application.join()">Join us here</a>
                </div>
            </div>
        </div>
    </header>
    <hr>

    <p>Welcome to WEYGYM. <br> We currently run daily classes, browse our options and when you find the class your into give us a call and book your spot.
        Please enjoy the pictures of our top of the range equipment you will experience in WEYGYM.
        If you see something you like or would like to see more why not call into any of our three branch’s located in Tallaght, Rathcoole or Lucan.
        I hope you find what you’re looking for with WEYGYM…..</p>
    <div class="pricing pricing--sonam">
        <div class="pricing__item">
            <h3 class="pricing__title">Student</h3>
            <div class="pricing__price"><span class="pricing__currency">€</span>25.90</div>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">Free classes</li>

            </ul>
            <button class="pricing__action">Call in</button>
        </div>
        <div class="pricing__item">
            <h3 class="pricing__title">Standard</h3>
            <div class="pricing__price"><span class="pricing__currency">€</span>29,90</div>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">Free classes off peak times</li>

            </ul>
            <button class="pricing__action">Call in</button>
        </div>
        <div class="pricing__item">
            <h3 class="pricing__title">Full membership</h3>
            <div class="pricing__price"><span class="pricing__currency">€</span>59,90</div>
            <p class="pricing__sentence">Gigantic business solution</p>
            <ul class="pricing__feature-list">
                <li class="pricing__feature">Unlimited usage</li>
                </ul>
            <button class="pricing__action">Call in</button>
        </div>
    </div>
        <!-- /.row -->

        <!-- Sample -->



    <hr>
    <div class="container-fluid text-center ">
        <h2>Gallery</h2>
        <h4>Our equipments</h4>
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="hovereffect">
                    <div class="thumbnail">
                        <img src=@routes.Assets.versioned("images/weightss.jpg") alt="weights"><!--Change to suitable images-->
                        <div class="overlay">

                            <h2>Weights</h2>
                            <a class="info" href="@routes.Application.classes()">More info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hovereffect">
                    <div class="thumbnail">
                        <img src=@routes.Assets.versioned("images/boxing.jpg") alt="Boxing">
                        <div class="overlay">
                            <h2>Boxing Studio</h2>
                            <a class="info" href="@routes.Application.classes()">link here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="hovereffect">
                    <div class="thumbnail">
                        <img src=@routes.Assets.versioned("images/pool.jpg") alt="pool">
                        <div class="overlay">

                            <h2>Swimming Pool</h2>
                            <a class="info" href="@routes.Application.classes()">Book a Class Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div id="googleMap" style="height:400px ; width:100% ;"></div>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
            var myCenter = new google.maps.LatLng(53.2909472, -6.3634121);<!--change the map location-->

            function initialize() {
                var mapProp = {
                    center:myCenter,
                    zoom:15,
                    scrollwheel:false,
                    draggable:true,
                    mapTypeId:google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                    position:myCenter,
                });

                marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script src="../javascripts/index.js"></script>
    <script>$('.carousel').carousel();</script>

}
