@main("Swimming", user = null) {
  <div class="container-fluid text-center ">
    <h2>The WEY coaching staff</h2>

    <div class="col-sm-8">
      <div class="thumbnail">
        <img src=@routes.Assets.versioned("images/guard1.jpg") alt="pool">

        <h2>Award winning team</h2>
        <p>Current national winners of Irish lifeguard association(ILA)</p>
      </div>

    </div>


    <div class="col-sm-12">
      <h2>
        You can choose from the following classes:
      </h2>
      <address>

        SWIMMING LESSONS
        January 2015 COURSE DATES



        Swimming Lessons – Children’s lessons (45 mins)

        Monday (11th of Jan – 15th Feb ) – 6 week course:

        3.30pm: Beginners

        4.15pm: Improvers



        Tuesday (12th Jan – 16th Feb ) – 6 week course:

        3.30pm: Beginners

        4.15pm: Improvers (Lane Swimming)

        5pm: Improvers (Advanced Lane Swimming)



        Wednesday (13th Jan- 17th Feb ) – 6 week course

        3.30pm: Beginners

        4.15pm: Advanced (Lane Swimming)

        Saturday (16th Jan- 20th Feb ) – 7 week course:

        9.30am: Improvers

        10.15am: Improvers

        11am: Beginners

        Cost is €60 for 6 weeks + €50 for 2nd child for both members and non-members



        Swimming Lessons – Adult lessons (45 mins)

        Tuesday (12th Jan – 16th Feb ) – 6 week course:

        11am: Beginners/Improvers

        Wednesday (13th Jan – 17th Feb ) – 6 week course:

        7pm: Beginners/Improvers

        Adult lessons cost €60 for 6 weeks



        REGISTRATION FOR SWIMMING LESSONS WILL TAKE PLACE ON Tuesday 5th of January from 9am

        Priority registration for people who are currently on our swim lessons will take place from Tuesday 15th of December from 9am.
      </address>
    </div>

    </div>

}
