@(id: Long, updateProductForm: Form[models.Product], user: models.User)
<!-- Product id and editProductForm parameters defined above
 passed to this view by the controller -->

<!-- a 'helper' will be used to create the form dynamically, 
though a static HTML form would also work -->
@import helper._

    <!-- The page will be based on the main template -->
@main("Update Product", user) {

    <h3>Update Product</h3>

        <!-- Use the views.html.helpers package to create the form -->
    @form(action = routes.ProductCtrl.updateProductSubmit(id), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {

        <!-- Build the form, adding an input for each field -->
        <!-- Note the label parameter -->
        @inputText(updateProductForm("name"), '_label -> "First Name", 'class -> "form-control")
        @inputText(updateProductForm("description"), '_label -> "Last Name", 'class -> "form-control")

        @select(
            updateProductForm("category.id"),
            options(Category.options),
            '_label -> "Location", '_default -> "-- Choose a location --",
            '_showConstraints -> false, 'class -> "form-control"
        )

        @inputText(updateProductForm("stock"), '_label -> "Age", 'class -> "form-control")
        @inputText(updateProductForm("price"), '_label -> "Weight", 'class -> "form-control")

        <!-- Image upload input -->
    <label>Image</label>
    <input class="btn-sm btn-default" type="file" name="upload">

    <br> <br>

        <!-- Add a submit button -->
    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="@routes.Application.index()"
        <button class="btn btn-warning" role="button">Cancel</button>
        </a>
    </div>
} <!-- End Form definition -->

    } <!-- End of page content -->


