@main("Weights", user = null) {
    <div class="container-fluid text-center ">
        <h2>The WEY coaching staff</h2>

        <div class="col-sm-8">
            <div class="thumbnail">
                <img src=@routes.Assets.versioned("images/weight1.jpg") alt="pool">

                <h2>Award winning team</h2>
                <p>Helpful and well experienced professional trainers</p>
            </div>

        </div>


        <div class="col-sm-12">
            <h2>
                You can choose from the following classes:
            </h2>
            <address>
            Open <br> Mon-Fri 6AM-10:30PM
                Sat 9AM-8:00PM
                Sun 10AM-6PM
                </address>
        </div>

    </div>

}
